.marginB10 {margin-bottom: 10px;}
.marginR5 {margin-right: 5px;}
.label-medium {
	padding: 9px 10px;
    font-size: 13px;
}
.margin-5px{
    margin-right: 5px;
}
.vertical-align{
    vertical-align: none !important;
}
.table>tbody>tr>td{
    vertical-align: none !important;
}
.with-100{
    width: 103px;
}